on post-fs-data

    # 3g
    insmod /lib/modules/usb_wwan.ko
    insmod /lib/modules/option.ko

on boot
 
on property:dev.bootcomplete=1
        start preheated

service hotplugd /system/bin/logwrapper /system/bin/hotplugd
    class core
    critical

# preheated is a symlink to hotplug. This check if the device is already connected
service preheated /system/bin/logwrapper /system/bin/hotplugd preheated
    oneshot     
    disbaled
    
